body{
    background-color: #F1ECE9;
}

header img{
    margin-left: 20px;
    
}

main{
    display: flexbox;
    padding-top: 0;
    margin-top: 0;
}


#ImgCadastro{
    width: 50%;
    margin-top: 50px;
}

form{
    width: 50%;
    float: right;
    line-height: 30px;
    
}

.FormCadastro input{
    width: 400px;
    height: 30px;
    background-color: #fbcb2b;
    opacity: 0.6;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    margin-left: 125px;

}

form > span{
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    padding-left: 130px;
    padding-bottom: 0;
}

form > legend{
    text-align: center;
    line-height: 2px;
    font-family: 'Quicksand', sans-serif;
}

legend > h1{
    font-weight: bold;
}


#checkcad{
    width: 20px;
}

#nomecheckcad{
    font-family: 'Quicksand', sans-serif;

}



#botaocad{
    background-color: #6fdde3;
    opacity: 1;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: all .3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    height: 40px;
}   

#botaocad:hover {
    background-color: #F36E2B;
    box-shadow: 0px 8px 10px #000;
    color: black;
    transform: translateY(-7px);
}

#esqueceu{
    padding-bottom: 0px;
    line-height: 2px;
    text-align: right;
    padding-right: 150px;
    font-family: 'Quicksand', sans-serif;
}

#possuiCad{
    font-family: 'Quicksand', sans-serif;
    line-height: 2px;
    text-align: center;
}


footer{
    text-align: center;
    height: 5%;
    font-size: 16px;
 }

 footer p{
     padding-top: 250px;
 }
