@import url('https://fonts.google.com/specimen/Quicksand#standard-styles');

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F1ECE9;
}

header {
    /* background: #F1ECE9; */
    font-size: 20px;
    position: relative;
}

.logomarca {
    position: relative;
    width: 940px;
    max-width: 100%;
    margin: 0 0;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
    font-size: xx-large;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    /* padding: 100px; */
    font-family: 'Quicksand', sans-serif;
}

.title div {
    text-align: center;
}

.crie {
    text-transform: initial;
    position: absolute;
    top: 35%;
    left: center;
    transition: translate (-50%, -50%);
    text-align: center;
}

.no {
    text-transform: lowercase;
    position: absolute;
    top: 45%;
    left: center;
    transition: translate (-50%, -50%);
    text-align: center;
}

.carpe {
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: center;
    transition: translate (-50%, -50%);
    text-align: center;
}

#container{
    position: relative;
}

.elipse {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 50%;
}

.ellipse{
    width: 90vw;
    height: 50vw;
    
    max-width: 500px;
    max-height: 300px;

    background-color: #f7d877;
    border-radius: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7    0px;
}

.main {
    display: flex;
    justify-content: center;
    background: #F1ECE9;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    /* padding:10px; */
    margin: auto;
    overflow: hidden;
    background-color: #F1ECE9;
    /* box-shadow: 0px 0px 30px black; */
    padding:10px;
    border-radius: 10px;
    width: 700px;

}

.main form {
    margin: auto;
    width: 500px;
    max-width: 100%;
    padding:10px;
}

.main form label {
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    /* margin-top: 20px; */
    font-family: 'Quicksand', sans-serif;
}

.main form label span {
    color: black;
    font-size: 120%;
    font-weight: bold;
    margin: 0 0;
    width: 500px;
    max-width: 100%;
    height: 30px;
}

.main form input {
    background: #FBCB2B;
    opacity: 0.6;
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 0 0.5rem;
    /* margin-top: 1.2em; */
    outline: none;
    color: black;
    font-size: 1rem;
    border: 1px solid #161923;
    border-radius: 8px;
    border: none;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding:10px;
    /* text-align: justify; */
}

.main form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    
    max-width: 100%;
    background: #FBCB2B;
    opacity: 0.6;
    text-align: justify;
    font-size: 16px;
    /* display: block; */
    /* margin: 5px 20px; */
}

.main form input[type="submit"] {
    cursor: pointer;
    opacity: 100%;
    /* width: 10%; */
    margin-top: 1.3rem;
    border: none;
    border-radius: 32px;
    background: #6fdde3;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: all .3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
}

.main form input[type="submit"]:hover {
    background-color: #F36E2B;
    box-shadow: 0px 8px 10px #000;
    color: black;
    transform: translateY(-7px);
   }
   
.main form input[type="submit"]:active {
    transform: translateY(-1px);
   }


#checkcad {
    width: 20px;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
}

p.possui_cadastro {
    text-align: center;
}

p.possui_cadastro>a {
    padding: 5px 0 5px 8px;
    color: #F36E2B;
    font-weight: bold;
    transition: margin ease-in-out 200ms;
}

p.possui_cadastro>a:hover {
    margin-left: 5px;
}


.copyright {
    text-align: center;
    padding: 50px 0px 20px 0px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

footer {
    /* background: #F1ECE9; */
}



.flex{display: flex;}
.flex-col{flex-direction: column;}

.w-full{
    width: 100%;
}

.p-y{ padding-top: 20px; padding-bottom: 20px;}
.m-y{ margin-top: 20px ; margin-bottom: 20px;}
.m-b{ margin-bottom: 20px;}

.flex-1{flex:1}
