
src/ProjetoAulaBackEnd/ProjetoAulaBackEnd/obj/Debug/net6.0/apphost.exe
/src/ProjetoAulaBackEnd/.vs/ProjetoAulaBackEnd/FileContentIndex
/src/ProjetoAulaBackEnd/ProjetoAulaBackEnd/obj/Debug/net6.0/ProjetoAulaBackEnd.csproj.CopyComplete
