@{
    ViewData["Title"] = "Política de privacidade";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/stylepage.css">

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->
    <title>Política de privacidade | CarpeDiem</title>

</head>

<body class="bg-gray">

    <section class="bg-gray flex ai-center j-between px-3 md-flex-wrap md-flex-col">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo_Final_382x148.png"></a>        
    </section>

    <div class="container m-auto flex j-center p-3">
        <section>
            <div class="flex flex-wrap j-start ai-center gap-3 mt-1 bold-7 t-black font-size-7">
            Política de Privacidade                       
            </div>
            <br>
            <p>A missão do Carpe Diem é ajudar a construir conexões entre as pessoas e tornar o mundo mais aberto e inclusivo. 
                Em outras palavras, construir um mundo onde todos possam se sentir em casa em qualquer lugar. Somos uma comunidade construída com base na confiança. 
                Para conquistar essa confiança, é fundamental que demonstremos com clareza como usamos suas informações e protegemos seu direito humano à privacidade.
            </p>
        
            <p>1. INFORMAÇÕES PESSOAIS QUE COLETAMOS</p>

            <p>1.1 Informações necessárias para usar a Plataforma Carpe Diem.</p>

            <p>Nós coletamos informações pessoais sobre você quando você usa a Plataforma Carpe Diem. 
                Sem essas informações, poderemos não ser capazes de fornecer todos os serviços que você solicitar. Essas informações incluem:
            </p>

            <p> - Informações de contato, conta, informações de perfil como nome, sobrenome, número de telefone, endereço postal, endereço de email, 
                data de nascimento e foto de perfil, dos quais alguns dependerão dos recursos que você usa.
            </p>
        
            <p> - Verificação de identidade e informações de pagamento. Como imagens do seu documento de identificação oficial 
                (conforme permitido pelas leis aplicáveis), número de documento de identificação ou outras informações de  verificação, 
                conta bancária ou informações de conta de pagamento. Se você não é um usuário do Carpe Diem, podemos receber informações de pagamento relacionadas a você, 
                como quando um usuário do Carpe Diem fornece seu cartão de pagamento para concluir uma reserva. Se nos for fornecida uma cópia do seu documento de identificação, 
                poderemos digitalizar, utilizar e armazenar as informações contidas no seu documento de identificação para verificar a sua identidade. 
            </p>
        </section>
    </div>

        <div class="copyright p-2 t-center"></div>

    <script src="~/js/copyright.js"></script>
</body>

</html>



