@model ProjetoAulaBackEnd.Models.Hospede

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/components/css/button.css"> 
    <link rel="stylesheet" href="~/components/css/checkbox.css">
    <link rel="stylesheet" href="~/css/stylepage.css">
    <link rel="stylesheet" href="~/css/cadastro.css"> 

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->
    <title>Cadastro usuário | CarpeDiem</title>
</head>

<body>
    <div id="main" class="container-fluid">
        
        <div class="row">
            <div class="col-12" id="header">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo_Final_382x148.png"></a>
            </div>
        </div>

        <div class="grid grid-col-2 md-grid-col-1">
            <div id="" class="flex j-center ai-center">
                <img class="w-f pr-2" src="~/img/imagem-3.svg" alt="Cadastrar usuário">
            </div>
            
            <div id="cadastro" class="w-full">
                <form class="formCadastro" name="Cadastro" method="post">

                    <legend>
                        <h1><b>Cadastro</b></h1>
                        <p id="campoObriga">Campos de preenchimento obrigatório</p>
                        <h5 id="erro">@ViewBag.Message</h5>
                    </legend>

                    <fieldset>
                        <span class="font-size-16 bold-6">Nome completo</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="text" name="Nome" value="" required><br>
                        
                        <span class="font-size-16 bold-6">CPF</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="text" id="campoCPF" name="CPF" value="" required><br>
                        
                        <span class="font-size-16 bold-6">Data de nascimento</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="text" id="campoData" name="DataDeNascimento" value="" required><br>
                        
                        <span class="font-size-16 bold-6">Endereço</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="text"  name="Endereco" value="" required><br>
                        
                        <span class="font-size-16 bold-6">Telefone</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="tel" id="campoTelefone" name="Telefone" value="" required><br>
                        
                        <span class="font-size-16 bold-6">Email</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="email" name="Email" value="" required><br>
                        
                        <span class="font-size-16 bold-6">Senha</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="password" name="Senha" value="" required><br>
                        
                        <span class="font-size-16 bold-6">Confirme a senha</span><br>
                        <input style="width: 100%" class="input w-f mb-4" type="password" name="Senha2" value="" required><br>
                        
                        <div class="flex flex-col gap-2 p-2">
                            <label class="checkbox"><input type="checkbox"><div class="checkbox-item"></div><span>Lembrar senha</span></label>
                            <label class="checkbox"><input type="checkbox"><div class="checkbox-item"></div><span>Lembrar-me nesse dispositivo</span></label>
                     
                            <p id="esqueceu" class="possui_cadastro s-end"><a href="esqueceu_senha.html">Esqueceu a senha?</a></p>
                            <button class="btn btn-blue btn-effect w-f">CADASTRAR</button>
                            <p class="possui_cadastro s-center">Já possui cadastro?<a href="login.html">Faça Login</a></p>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="copyright p-2 t-center"></div>

        <script>
            jQuery(function($){
            $("#campoCPF").mask("999.999.999-99",{placeholder:"000.000.000-00"});
            $("#campoData").mask("99/99/9999",{placeholder:"DD/MM/AAAA"});
            $("#campoTelefone").mask("(99)99999-9999",{placeholder:"(XX)XXXXX-XXXX"});
           });
        </script>
    </div>

    <script src="~/js/copyright.js"></script>
</body>

</html>

<!--<h1>Cadastro Hóspede</h1>

<h4>Hospede</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="DataDeNascimento" class="form-control" />
                <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label">Endereço</label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
