@model ProjetoAulaBackEnd.Models.Hospede

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="~/components/css/button.css"> 
    <link rel="stylesheet" href="~/components/css/checkbox.css">
    <link rel="stylesheet" href="~/css/stylepage.css">
    <link rel="stylesheet" href="~/css/cadastro.css">
    
    <title>Editar Usuário | Carpe Diem</title>
</head>

<body class="bg-gray"
>
    <div id="main" class="container-fluid">
        
        <!--<div class="row">
            <div class="col-12" id="header">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo_Final_382x148.png"></a>
            </div>
        </div>-->

        <div class="grid grid-col-2 md-grid-col-1">
            <div id="" class="flex j-center ai-center">
                <img class="w-f pr-6" src="~/img/imagem-3.svg" alt="Cadastrar usuário">
            </div>

            <div id="cadastro" class="w-full">                         
                <form asp-action="Edit" class="formCadastro" name="Cadastro">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdHospede" />

                    <legend>
                        <h1><b>Editar Cadastro</b></h1>                        
                    </legend>                
                    
                    <fieldset>
                         <h5 id="erro">@ViewBag.Message</h5>

                        <div class="form-group">
                            <label asp-for="Nome" class="control-label font-size-16 bold-6">Nome Completo</label>
                            <input asp-for="Nome" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>                        

                        <div class="form-group">
                            <label asp-for="CPF" class="control-label font-size-16 bold-6">CPF</label>
                            <input asp-for="CPF" id="campoCPF" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataDeNascimento" class="control-label font-size-16 bold-6">Data de Nascimento</label>
                            <input asp-for="DataDeNascimento" id="campoData" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco" class="control-label font-size-16 bold-6">Endereço</label>
                            <input asp-for="Endereco" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefone" class="control-label font-size-16 bold-6">Telefone</label>
                            <input asp-for="Telefone" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label font-size-16 bold-6">Email</label>
                            <input asp-for="Email" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Senha" class="control-label font-size-16 bold-6">Senha</label>
                            <input type="password" asp-for="Senha" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Senha2" class="control-label font-size-16 bold-6">Confirme a senha</label>
                            <input type="password" asp-for="Senha2" style="width: 100%" class="input w-f mb-4" />
                            <span asp-validation-for="Senha2" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="TipoUsuario" class="control-label font-size-16 bold-6">Quer cadastrar seu imóvel e se tornar um Anfitrião? Selecione a opção abaixo:</label>
                            <select asp-for="TipoUsuario" style="width: 100%" class="input w-f mb-4" asp-items="Html.GetEnumSelectList<TipoUsuario>()"></select>
                            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                        </div>
                        <br/>
                        <div class="form-group">
                           <button class="btn btn-blue btn-effect w-f">ATUALIZAR CADASTRO</button>
                        </div>
                    </fieldset>
                </form>         
            </div>
        <script>
            jQuery(function($){
            $("#campoCPF").mask("999.999.999-99");
            $("#campoData").mask("99/99/9999");
           });
        </script>
    </div>
    
    <div class="copyright p-2 t-center"></div>

    <script src="~/js/copyright.js"></script>
   
</body>

</html>          

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
