@model ProjetoAulaBackEnd.Models.Hospede

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/components/css/button.css"> 
    <link rel="stylesheet" href="~/components/css/checkbox.css">
    <link rel="stylesheet" href="~/css/stylepage.css">
    <link rel="stylesheet" href="~/css/cadastro.css">

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->
    <title>Login | CarpeDiem</title>

</head>

<body class="bg-gray">   

    <div id="main" class="container-fluid">

        <!--<div class="row">
            <div class="col-12" id="header">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo_Final_382x148.png"></a>
            </div>
        </div>-->

        <div class="grid grid-col-2 md-grid-col-1">

            <div id="" class="flex j-center ai-center">
                <img class="max-w-f m-6" src="~/img/imagem-2.svg" alt="Login usuário">
            </div>

            <div id="login" class="w-full">
                
                <form class="p-3" name="login" method="post">

                    <legend>
                        <h1 class="t-center py-4"><b>Login</b></h1>
                        <h5 id="erro">@ViewBag.Message</h5>
                    </legend>

                    <fieldset>
                        
                        <span class="font-size-16"><b>Email</b></span>
                        <input style="width: 100%" class="input w-f mb-4" type="email" name="Email" value="" required><br>
                        
                        <span class="font-size-16"><b>Senha</b></span>
                        <input style="width: 100%" class="input w-f mb-4" type="password" name="Senha" value="" required><br>
                        
                        
                        <div class="flex flex-col gap-2 p-2">
                            <label class="checkbox"><input type="checkbox"><div class="checkbox-item"></div><span>Lembrar senha</span></label>
                            <label class="checkbox"><input type="checkbox"><div class="checkbox-item"></div><span>Lembrar-me nesse dispositivo</span></label>
                     
                            <p id="esqueceu" class="possui_cadastro s-end"><a asp-controller="Hospedes" asp-action="EsqueceuSenha">Esqueceu a senha?</a></p>
                            <button class="btn btn-blue btn-effect w-f">ENTRAR</button>
                            <p class="possui_cadastro s-center">Ainda não tem Conta?<a asp-area="" asp-controller="Hospedes" asp-action="Create">Cadastre-se</a></p>
                        </div>
            
                    </fieldset>
                   
                </form>
                    
            </div>
        </div>
        
        <div class="copyright p-2 t-center"></div>
    </div>

    <script src="~/js/copyright.js"></script>
    
</body>

</html>

<!--<h1>Login</h1>

<h4>Login</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
