@model ProjetoAulaBackEnd.Models.FaleConosco
@{
    ViewBag.Title = "Obrigado";
}

<h2>Obrigado</h2>

<h3>Mensagem enivada com sucesso!</h3>
<br />
<h3>Entraremos em contato o mais breve possível!.</h3>
