<link rel="stylesheet" href="css/card.css">

<div class="card" style="width: 300px">
    <img class="card-top" src="imgs/hotel.jpg">
    <div class="card-body">
        <div class="card-t card-center">A</div>
        <div class="card-m">
            <div class="card-center-y">a</div>
            <div class="card-center-y">a</div>
            <div class="card-center-y">a</div>
            <div class="card-center-y">a</div>
        </div>
        <div class="card-b card-center">C</div>
    </div>
</div>


