
* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #F1ECE9;
} 

.container{
    max-width: 1000px;
    height: auto;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.direct ul {
    text-align: center;
}

.direct > a {
    padding: 5px 0 5px 8px;
    color: black;
    font-weight: bold;
    transition: margin ease-in-out 200ms;
}

.direct>a:hover {
    margin-left: 5px;
    color: #F36E2B;
}

nav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav ul a{
    text-decoration: none;
    color: #000;
}

nav ul li{
    list-style-type: none;
    margin: 10px;
}

.img-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-perfil img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #428CC6;
}

.slider {
    margin: 0 auto;
    max-width: 940px;
}
  
.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}
  
.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}
  
.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}
 
.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}
  
.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}
  
.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}
  

@media only screen and (max-width: 767px) {

.previous_btn {
    left: 50px;
}

.next_btn {
    right: 50px;
}

}


.lista-opcoes{
    width: 100%;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
}

.opcoes p{
    line-height: 0;
    margin-top: 7px;
    font-size: .9rem;
    margin-bottom: 50px;
}

.lista-opcoes .opcoes div{
    width: 8em;
    height: 30px;
    background-color: #F5DA77;
}

.area-atuacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h2{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 0;
}

.area-atuacao .atuacao{
    width: 165px;
    height: 225px;
}

.area-atuacao div .img-atuacao {
    width: 100%;
    height: 175px;
}

.detalhes{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detalhes small{
    font-size: 10px;
}

.detalhes i{
    width: 10px;
    height: 10px;
}

.descricao-detalhe{
    font-size: .9rem;
    text-align: center;
}

footer{
    width: 100%;
    background-color: #C4C4C4;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-menu ul a{
    text-decoration: none;
    color: #000;
}

.footer-menu ul li{
    list-style: none;
    margin-top: 10px;
}

.redes-sociais{
    margin-right: 40px;
}

.redes-sociais img{
    width: 100px;
}

.direitos-autorais{
    text-align: center;
    font-size: .9rem;
    line-height: 30px;
}