<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f341db13-bce3-4e21-8b06-7e19f9392607/resourceGroups/carpediempucmg_group/providers/Microsoft.Web/sites/carpediempucmg</ResourceId>
    <ResourceGroup>carpediempucmg_group</ResourceGroup>
    <ApiResourceId>/subscriptions/f341db13-bce3-4e21-8b06-7e19f9392607/resourceGroups/carpediempucmg_group/providers/Microsoft.ApiManagement/service/ProjetoAulaBackEndapi/apis/ProjetoAulaBackEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carpediempucmg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f4495fa1-f8b5-4e08-88fc-e5e4d8a6375c</ProjectGuid>
    <MSDeployServiceURL>carpediempucmg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>carpediempucmg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$carpediempucmg</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>