@model ProjetoAulaBackEnd.Models.Imovel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdImovel" class="control-label"></label>
                <select asp-for="IdImovel" class ="form-control" asp-items="ViewBag.IdImovel"></select>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEsp" class="control-label"></label>
                <select asp-for="TipoEsp" class="form-control" asp-items="Html.GetEnumSelectList<TipoEspaco>()"></select>
                <span asp-validation-for="TipoEsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAc" class="control-label"></label>
                <select asp-for="TipoAc" class="form-control" asp-items="Html.GetEnumSelectList<TipoAcomodacao>()"></select>
                <span asp-validation-for="TipoAc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdeHospedes" class="control-label"></label>
                <input asp-for="QtdeHospedes" class="form-control" />
                <span asp-validation-for="QtdeHospedes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto1" class="control-label"></label>
                <input asp-for="Foto1" class="form-control" />
                <span asp-validation-for="Foto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
