@model ProjetoAulaBackEnd.Models.Imovel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://demo.haeckdesign.com/get-social-icon-set/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="icon" type="icon/ico" href="~/img/favicon-32x32.png">

    <link rel="stylesheet" href="~/components/css/button.css">
    <link rel="stylesheet" href="~/components/css/checkbox.css">
    <link rel="stylesheet" href="~/css/stylepage.css">
    <link rel="stylesheet" href="~/css/detalhes_imovel.css">
    

    <title>Cadastrar Imóvel | CarpeDiem</title>
</head>


<body class="bg-gray">
    <!-- topo -->
    <section class="bg-gray flex ai-center j-end px-3 md-flex-wrap md-flex-col"> 
        <div class="p-1 flex flex-col j-center ai-center ">
            <div class="relative w-1 h-1">
                <img src="~/img/usuario.jpg" class="rounded-full w-f">
                <div class="absolute bottom right bg-blue-1 rounded-full ">
                    <a href="#"><img width="30px" src="~/img/edit_note.png"></a>
                </div>
            </div>
            <!--<p>Ana Maria</p>-->
        </div>
    </section>

    <div class="container m-auto j-center p-3">

        <!-- banner -->
        <section>
        
            <div class="flex flex-wrap j-start ai-center gap-3 mt-1 bold-7 t-black font-size-7">Cadastrar Imóvel</div>

            <h5 id="erro">@ViewBag.Message</h5>

            <!-- bloquinhos -->
            <br>
            <br>

            <div class="py-2 flex flex-wrap j-start ai-center gap-3 mt-1 bold-7 t-black font-size-6">
                Inserir Fotos
            </div>

            <div class="w-full">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    <section class="flex flex-wrap j-between gap-3 t-center">
                        <img class="w-2 h-2 object-cover m-auto" src="~/img/hotel-1.jpg">
                        <img class="w-2 h-2 object-cover m-auto" src="~/img/hotel-2.jpg">
                        <img class="w-2 h-2 object-cover m-auto" src="~/img/hotel-3.jpg">
                        <img class="w-2 h-2 object-cover m-auto" src="~/img/hotel-4.jpg">
                        <img class="w-2 h-2 object-cover m-auto" src="~/img/hotel-1.jpg">               
                    </section>

                    <div class="grid grid-col-4 md-grid-col-1 gap-3 py-2">
                        <div class="form-group">
                            <label asp-for="Foto1" class="font-size-16 bold-6 t-black"></label>
                            <input asp-for="Foto1" style="width: 100%" class="input w-f mb-4"/>
                            <span asp-validation-for="Foto1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Foto2" class="font-size-16 bold-6 t-black"></label>
                            <input asp-for="Foto2" style="width: 100%" class="input w-f mb-4"/>
                            <span asp-validation-for="Foto2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Foto3" class="font-size-16 bold-6 t-black"></label>
                            <input asp-for="Foto3" style="width: 100%" class="input w-f mb-4"/>
                            <span asp-validation-for="Foto3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Foto4" class="font-size-16 bold-6 t-black"></label>
                            <input asp-for="Foto4" style="width: 100%" class="input w-f mb-4"/>
                            <span asp-validation-for="Foto4" class="text-danger"></span>
                        </div>
                    </div>

                    <div>
                        <h2><b class="bold-7 t-black">Especificações</b></h2>                        
                    </div>

                    <div class="form-group">
                        <label asp-for="Endereco" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="Endereco" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bairro" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="Bairro" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
    
                    <div class="form-group">
                        <label asp-for="Cidade" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="Cidade" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TipoEsp" class="font-size-16 bold-6 t-black"></label>
                        <select asp-for="TipoEsp" style="width: 100%" class="input w-f mb-4" asp-items="Html.GetEnumSelectList<TipoEspaco>()"></select>
                        <span asp-validation-for="TipoEsp" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TipoAc" class="font-size-16 bold-6 t-black"></label>
                        <select asp-for="TipoAc" style="width: 100%" class="input w-f mb-4" asp-items="Html.GetEnumSelectList<TipoAcomodacao>()"></select>
                        <span asp-validation-for="TipoAc" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="QtdeHospedes" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="QtdeHospedes" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="QtdeHospedes" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="QtdeCamas" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="QtdeCamas" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="QtdeCamas" class="text-danger"></span>
                    </div>
 
                    <div class="form-group">
                        <label asp-for="QtdeQuartos" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="QtdeQuartos" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="QtdeQuartos" class="text-danger"></span>
                    </div>
       
                    <div class="form-group">
                        <label asp-for="QtdeBanheiros" class="font-size-16 bold-6 t-black"></label>
                        <input asp-for="QtdeBanheiros" style="width: 100%" class="input w-f mb-4"/>
                        <span asp-validation-for="QtdeBanheiros" class="text-danger"></span>
                    </div>  

                    <h2><b class="bold-7 t-black">O que o espaço tem a oferecer</b></h2>

                    <div class="grid grid-col-5 md-grid-col-3 gap-2 py-2">
                        <label class="checkbox" asp-for="Piscina"><input type="checkbox" asp-for="Piscina"><div class="checkbox-item"></div><span>Piscina</span></label>
                        <label class="checkbox" asp-for="Patio"><input type="checkbox" asp-for="Patio"><div class="checkbox-item"></div><span>Pátio</span></label>
                        <label class="checkbox" asp-for="Jogos"><input type="checkbox" asp-for="Jogos"><div class="checkbox-item"></div><span>Jogos</span></label>
                        <label class="checkbox" asp-for="Lareira"><input type="checkbox" asp-for="Lareira"><div class="checkbox-item"></div><span>Lareira</span></label>
                        <label class="checkbox" asp-for="Churrasqueira"><input type="checkbox" asp-for="Churrasqueira"><div class="checkbox-item"></div><span>Churrasqueira</span></label>
                        <label class="checkbox" asp-for="Cozinha"><input type="checkbox" asp-for="Cozinha"><div class="checkbox-item"></div><span>Cozinha</span></label>
                        <label class="checkbox" asp-for="WiFi"><input type="checkbox" asp-for="WiFi"><div class="checkbox-item"></div><span>Wi-fi</span></label>
                        <label class="checkbox" asp-for="Estacionamento"><input type="checkbox" asp-for="Estacionamento"><div class="checkbox-item"></div><span>Estacionamento</span></label>
                        <label class="checkbox" asp-for="ArCondicionado"><input type="checkbox" asp-for="ArCondicionado"><div class="checkbox-item"></div><span>Ar Condicionado</span></label>
                        <label class="checkbox" asp-for="Academia"><input type="checkbox" asp-for="Academia"><div class="checkbox-item"></div><span>Academia</span></label>
                        <label class="checkbox" asp-for="DuchaExterna"><input type="checkbox" asp-for="DuchaExterna"><div class="checkbox-item"></div><span>Ducha Externa</span></label>
                        <label class="checkbox" asp-for="MaquinaLavar"><input type="checkbox" asp-for="MaquinaLavar"><div class="checkbox-item"></div><span>Máquina de Lavar</span></label>
                        <label class="checkbox" asp-for="VistaMar"><input type="checkbox" asp-for="VistaMar"><div class="checkbox-item"></div><span>Vista para o Mar</span></label>
                        <label class="checkbox" asp-for="Rampa"><input type="checkbox" asp-for="Rampa"><div class="checkbox-item"></div><span>Rampas de Acesso</span></label>
                        <label class="checkbox" asp-for="Elevador"><input type="checkbox" asp-for="Elevador"><div class="checkbox-item"></div><span>Elevador</span></label>
                        <label class="checkbox" asp-for="Suite"><input type="checkbox" asp-for="Suite"><div class="checkbox-item"></div><span>Suíte</span></label>
                        <label class="checkbox" asp-for="Sauna"><input type="checkbox" asp-for="Sauna"><div class="checkbox-item"></div><span>Sauna</span></label>
                        <label class="checkbox" asp-for="PET"><input type="checkbox" asp-for="PET"><div class="checkbox-item"></div><span>Aceita PET</span></label>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="IdImovel" class="font-size-16 bold-6 t-black"></label>
                        <select asp-for="IdImovel" style="width: 100%" class="input w-f mb-4" asp-items="ViewBag.IdImovel"></select>
                    </div>

                    <section>
                        <h2><b class="bold-7 t-black">Informações adicionais</b></h2>
                        <div class="grid grid-col-2 md-grid-col-1 gap-1 py-2">
                            <label class="flex j-center ai-center gap-1" asp-for="CheckIn"><span class="bold-7 t-black">Horário Check-In</span><input class="input flex-1" type="text" asp-for="CheckIn"></label>
                            <label class="flex j-center ai-center gap-1" asp-for="DistanciaPraia"><span class="bold-7 t-black">Distância Praia</span><input class="input flex-1" type="text" asp-for="DistanciaPraia"></label>
                            <label class="flex j-center ai-center gap-1" asp-for="CheckOut"><span class="bold-7 t-black">Horário Check-Out</span><input class="input flex-1" type="text" asp-for="CheckOut"></label>
                            <label class="flex j-center ai-center gap-1" asp-for="ValorDiaria"><span class="bold-7 t-black">Valor da Diária</span><input class="input flex-1" type="text" asp-for="ValorDiaria"></label>
                        </div><br>
                        <div class="input w-f h-2 m-1" contenteditable="">Digite seu texto aqui</div>
                    </section>
                    <br />

                    <div class="grid grid-col-2 md-grid-col-1 gap-3 py-2">
                        <div class="form-group">
                            <label asp-for="DispImovel" class="font-size-16 bold-6 t-black"></label>
                            <select asp-for="DispImovel" style="width: 100%" class="input w-f mb-4" asp-items="Html.GetEnumSelectList<DisponImovel>()"></select>
                            <span asp-validation-for="DispImovel" class="text-danger"></span>
                        </div>
      
                        <div class="form-group">
                            <label asp-for="DesativarImovel" class="font-size-16 bold-6 t-black"></label>
                            <select asp-for="DesativarImovel" style="width: 100%" class="input w-f mb-4" asp-items="Html.GetEnumSelectList<DesativarImovel>()"></select>
                            <span asp-validation-for="DesativarImovel" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <br />                                 

                    <div class="flex t-center j-center py-2">
                        <input type="submit" value="CADASTRAR IMÓVEL" class="btn btn-blue btn-effect w-6p"/>                        
                    </div>                    
                </form>
            </div>    
    </div>

    <div class="copyright p-2 t-center"></div>

        
    <script src="~/js/script_detalhesimovel.js"></script>
    <script src="~/js/copyright.js"></script>

</body>
</html>
          

<!--
<h1>Create</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdImovel" class="control-label"></label>
                <select asp-for="IdImovel" class ="form-control" asp-items="ViewBag.IdImovel"></select>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEsp" class="control-label"></label>
                <select asp-for="TipoEsp" class="form-control" asp-items="Html.GetEnumSelectList<TipoEspaco>()"></select>
                <span asp-validation-for="TipoEsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAc" class="control-label"></label>
                <select asp-for="TipoAc" class="form-control" asp-items="Html.GetEnumSelectList<TipoAcomodacao>()"></select>
                <span asp-validation-for="TipoAc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdeHospedes" class="control-label"></label>
                <input asp-for="QtdeHospedes" class="form-control" />
                <span asp-validation-for="QtdeHospedes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto1" class="control-label"></label>
                <input asp-for="Foto1" class="form-control" />
                <span asp-validation-for="Foto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
-->

