<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoAulaBackEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stylepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://demo.haeckdesign.com/get-social-icon-set/style.css">
</head>

<body class="bg-gray">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 bg-gray">
            <div class="container flex ai-center px-3 md-flex-wrap md-flex-col bg-gray">
                <a class="navbar-brand j-start" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo_Final_382x148.png"></a>   
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="bg-gray flex ai-center j-end px-3 md-flex-wrap md-flex-col t-black">
                    <div class="direct flex md-flex-col navbar-nav flex-grow-1">                              
                            @*<a class="nav-link p-1 m-1 t-black bold-8 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="Create">Cadastro de Hóspedes</a>*@
                            @if (User.Identity.IsAuthenticated)
                             {
                                <a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="Index">Lista de Hóspedes</a>
                                @*<a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Imoveis" asp-action="Create">Cadastro de Imóveis</a>*@
                                <a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Imoveis" asp-action="Index">Lista de Imóveis</a>
                              }
                            <a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Imoveis" asp-action="Create">Anuncie seu Imóvel</a>
                            @*<a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="Create">Alugue um Imóvel</a>*@
                            <a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="FaleConosco">Fale Conosco</a>
                            @*<a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="Login">Login</a>*@
                            <a class="nav-link p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="Create">Cadastre-se<img width="25px" src="~/img/svg/adicionar-usuario-1.svg"></a>
                    </div>
                    
                    <ul class="navbar-nav t-black bold-7">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                Olá, @User.Identity.Name <a class="nav-link text-dark p-1 m-1 t-black bold-7 font-size-4"></a>
                                <a class="nav-link text-dark p-1 m-1 t-black bold-7 font-size-4 t-center" asp-area="" asp-controller="Hospedes" asp-action="Logout">Sair</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark p-1 m-1 t-black bold-7 font-size-4" asp-area="" asp-controller="Hospedes" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjetoAulaBackEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    
    <footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    
    </footer>-->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>    