@import url('https://fonts.google.com/specimen/Quicksand#standard-styles');

* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F1ECE9;
}

header {
    /* background: #F1ECE9; */
    font-size: 20px;
    position: relative;
}

.main div input {
    background: #FBCB2B;
    opacity: 0.6;
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 0 0.5rem;
    /* margin-top: 1.2em; */
    outline: none;
    color: black;
    font-size: 1rem;
    border: 1px solid #161923;
    border-radius: 8px;
    border: none;
}

.form-check-input {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding:10px;
    /* text-align: justify; */
    background: #FBCB2B;
    opacity: 0.6;
}

#erro {
    color: red;
    font-weight: bold;
}